---
import Head from "@/components/Head.astro";
import Layout from "@/layouts/Layout.astro";

---

<Layout title="About">
    <Head />
    <div>
        <h1 class="font-serif text-xl mt-10 mb-5 text-center">por Geronimo Pylypchuk 🎸</h1>
       <div class="flex justify-center">    
            <code class="font-serif">
                Desarrollado con
                <a class="hover:underline hover:decoration-lime-400 font-bold " href="https://astro.build/">index.astro</a>
            </code>
        </div> 
    </div>
</Layout>