---
import Head from '@/components/Head.astro';
import Layout from '../layouts/Layout.astro';
import { COLORS } from '../data/constants';
---

<Layout title='Factorizacion de un primo'>
    <Head />
    <div style=`color: ${COLORS.black}` class="w-96 md:w-2/3 lg:w-2/5 ml-auto mr-auto">
        <h1 class="mb-5 text-center text-2xl mt-10 font-black">Factorizacion de un primo</h1>
        <p class="text-justify" style=`color: ${COLORS.gray};`>¿Es posible factorizar un numero primo en otros dos numeros primos? En este blog lo demostraremos para todo n.</p>
        <div class="flex flex-row mt-2 pt-2 pb-2 border-neutral-200 border-y">
            <h3>por <a class="hover:underline hover:decoration-lime-400" href="https://twitter.com/geropylypchuk">Geronimo Pylypchuk</a></h3>
            <p class="ml-auto">el 12/07/2023</p>
        </div>
        <div class="mt-5 text-justify">
            <p>
                Sabemos que un numero primo al que llamaremos 
                `N`
                es un numero que solo es divisible por `1` y por si mismo. Lo que queremos hacer es factorizarlo, por lo tanto podemos decir que
                `N=p*q // N in bbb "N"`
                sin importar el valor de N para este ejemplo.
                Pongamoslo de esta manera, para poder buscar que multiplos son.
                Supongamos que hacemos una multiplicacion de `g*g*g*g*g*g...` hasta `r` veces, entonces podemos decir que
                `g^r=mN+1` (sabemos que encontraremos un multiplo de N).
            </p>
            <p>
                Para comenzar a intuir que valor es `N` lo hay que hacer es
                `g^x/N` y cuando el resto sea `1` podremos expresarlo como `g^x=mN+1`, 
                y ahora la `x` sabemos que es `r`, por lo tanto,
                `g^r=mN+1` cambiando de lugar un poco los valores queda
                `g^r-1=mN`, teniendo en cuenta de que `r` es par (caso contrario repetimos el proceso de buscar algun otro `g // g=[1,N-1] ^^ g in bbb "N"`),
                la formula que nos queda es
            </p>
            <p class="text-center mt-5 text-xl">`(g^(r/2)-1)*(g^(r/2)+1)=mN`</p>
            </div>
        </div>
    </div>
</Layout>

