---
import Head from '@/components/Head.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Factorizacion de un primo'>
    <Head />
    <div  style="color: #252525;"  class="w-96 md:w-2/3 lg:w-2/5 ml-auto mr-auto">
        <h1 class="mb-5 text-center text-2xl mt-10 font-black">Factorizacion de un primo</h1>
        <p class="text-zinc-500 text-justify">¿Es posible factorizar un numero primo en otros dos numeros primos? En este blog lo demostraremos para todo n.</p>
        <div class="flex flex-row mt-2 pt-2 pb-2 border-neutral-200 border-y">
            <h3>por <a class="hover:underline hover:decoration-lime-400" href="https://twitter.com/geropylypchuk">Geronimo Pylypchuk</a></h3>
            <p class="ml-auto">el 12/07/2023</p>
        </div>
        
            
    </div>
</Layout>

