---
import Head from '@/components/Head.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Factorizacion de un primo'>
    <Head />
    <div class="w-1/3 text-justify ml-auto mr-auto">
        <h1 class="mb-5 text-center text-3xl mt-10 font-black">Factorizacion de un primo</h1>
        <p class="text-zinc-500">¿Es posible factorizar un numero primo en otros dos numeros primos? En este blog lo demostraremos para todo n.</p>
        <div class="flex flex-row">
            <h3>por Geronimo Pylypchuk</h3>
            <p class="text-zinc-500">Publicado el 12 de octubre de 2021</p>
        </div>
    </div>
</Layout>

