---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Rincón Euclideano">
	<main>
		<h1>Rincón Euclideano</h1>
		<Navbar />
		<p>
			Un espacio donde podrás encontrar aportes matemáticos.<br />
		</p>
		<p>
			¡Nada de curvas ni tensores Ricci!<br />
		</p>
	</main>
	<body>
		
	</body>
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 960px;
		padding: 2rem 1rem;
	}
	h1 {
		font-size: 3rem;
		text-align: center;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
	}
</style>
