---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Math Blog">
	<main>
		<h1>Geronimo Pylypchuk</h1>
		<p class="instructions">
			Este blog es sobre <code>mates</code> de todo tipo<br />
		</p>
	</main>
	<body>
		<Navbar />
	</body>
</Layout>

<style>
	
</style>
