---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Rinc칩n Euclideano">
	<main class="font-serif">
		<h1 class="text-6xl font-bold">Rinc칩n Euclideano</h1>
		<Navbar />
		<div class="mt-10">
			<p>
				Un espacio donde podr치s encontrar aportes matem치ticos.<br />
			</p>
			<p>
				춰Nada de curvas ni tensores Ricci!<br />
			</p>
		</div>
	</main>
	<body>
		
	</body>
	<footer class="font-serif">
		<p class="">Por Geronimo Pylypchuk 游꿪</p>
	</footer>
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 960px;
		padding: 2rem 1rem;
	}
	h1 {
		font-size: 3rem;
		text-align: center;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
	}
</style>
