---
import Layout from '../layouts/Layout.astro';
import Head from '@/components/Head.astro';
---

<Layout title="Rincón Euclideano">
	<main class="font-serif">
		<Head />
		<img src="/toros_0.jpg" alt="Logo" class="mx-auto w-16" />
	</main>
	<body>
		<div class="flex justify-center mt-0 mb-5 m-12 text-justify text-lg">
			<p>
				Un espacio donde podrás encontrar aportes matemáticos.<br />
			</p>
		</div>
		<div class="flex justify-center mt-0 m-12 text-justify text-lg">
			<p>
				¡Nada de curvas ni tensores Ricci!
			</p>
		</div>
	</body>
	<!-- <footer>
		<p class="absolute translate-y-full text-justify text-lg text-xs">
			&copy;2021 Rincón Euclideano. All rights reserved.
		</p>
	</footer> -->
</Layout>
