---
import Footer from "./Footer.astro";
import { TITLES } from "../data/constants";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10 w-3/4 ml-auto mr-auto mb-16">
    {TITLES.map(title => (
        <a class="hover:shadow-slate-150 shadow-xl hover:scale-105 duration-200 rounded-xl" href={title.href}>
            <div class="inline-block p-7">
                <h1 class="font-bold mb-3 text-xl">{title.title}</h1>
                <p class="text-ssm text-justify">{title.content.slice(0, 150)}...</p>
            </div>
        </a>
    ))}
</div>

<Footer />